*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .content {
    font-size: 20px;
    p {
      font-size: 1rem;
    }
  }
}