@use "./variables" as var;

footer {
    background: var.$header-background;
    width: 100%;
    height: 79px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-size: 14px;
        font-family: var.$main-font;
        color: var.$color-white;
        letter-spacing: 0.6px;
    }
}