@use "./variables" as var;

header {
    font-family: var.$main-font;
    background: var.$header-background;
    display: flex;
    height: 74px;
    justify-content: center;
    border-bottom: 2px solid var.$color-white;

    .header_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        color: var.$color-white;

        h1 {
            font-size: 24px;
            font-weight: normal;
        }

        .header_nav ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            font-size: 16px;
            column-gap: 55px;

            li {
                font-size: 16px;
            }
        }
    }
}