//font-famiry
$main-font: "Roboto", sans-serif;
$text-font: "Noto Sans JP", sans-serif;
$noto-font: 'Noto Sans Japanese';
$hira-w6-font: "Noto Sans JP", "HiraKakuProN-W6";
$hira-w3-font: "Noto Sans JP", "HiraKakuProN-W3";

//color
$color-white: #FFFFFF;
$header-background: #1B1310;